.wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer {
  display: flex;
  margin: 0 auto;
  margin-top: 20px;
  .more {
    font-size: 12px;
    font-weight: 400;
    &:hover {
      text-decoration: underline;
    }
  }
}
