@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
/* Light - 300
Regular - 400
Medium - 500
Bold - 700 */

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #171717;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

ul {
  padding-left: 0;
  margin: 10px 0 10px 0;
}

a {
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
