// colors
$main_gray: #272727;
$light_gray: #404040;
$hover_gray: #7c7c7c;
$background_dark: #171717;
$dark_white: #d9d9d9;

// text
$gray_text: #757575;
$white: #ffffff;
$light_gray_text: #c1c1c1;
$black_text: #000000;
