// colors
$main_green: #272727;
$light_green: #404040;
$background_dark: #171717;
$dark_white: #d9d9d9;

// text
$green_text: #757575;
$white: #ffffff;
$light_green_text: #c1c1c1;
$black_text: #000000;
