@import "../../styles/breakpoints.scss";
@import "../../styles/variables.scss";

header {
  width: 100vw;
  height: 50px;
  padding: 5px 20px;
  display: flex;
  position: fixed;
  background-color: #1e1e1e;
  z-index: 99;

  @include lg {
    padding-left: 5px;
    padding-right: 5px;
  }

  .logo {
    width: 164px;
    display: flex;
    margin-right: 25px;
    justify-content: space-between;

    @include lg {
      margin-right: 0;
      width: auto;
    }

    img {
      margin-right: 5px;
    }

    .name {
      display: flex;
      margin: 0;
      font-size: 20px;
      font-weight: bold;
      color: #ffffff;
      align-items: center;

      @include lg {
        display: none;
      }
    }
  }

  .dropdownLinks {
    min-width: 250px;
    height: 40px;
    margin-right: 25px;

    @include lg {
      margin-right: 5px;
    }

    @include md {
      min-width: auto;
    }
  }

  input {
    position: relative;
    width: 950px;
    height: 100%;
    margin-right: 25px;
    padding: 5px 25px;
    box-shadow: 0 0 0 0.2px $white;
    border: none;
    border-radius: 50px;
    font-size: 13px;
    color: #757575;
    background-color: #272727;
    outline: none;

    @include lg {
      margin-right: 5px;
    }
  }

  .dropdownUser {
    min-width: 214px;
    margin-left: auto;

    @include md {
      min-width: auto;
    }
  }
}
