@import "../../styles/breakpoints.scss";
@import "../../styles/variables.scss";

header {
  width: 100vw;
  height: 50px;
  padding: 5px 10px;
  position: fixed;
  background-color: #1e1e1e;
  z-index: 99;

  .container {
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .logo {
      display: flex;
      gap: 10px;
      .name {
        display: flex;
        margin: 0;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        align-items: center;

        @include lg {
          display: none;
        }
      }
    }

    .auth {
      display: flex;
      flex-direction: row;
      gap: 10px;
      align-items: center;
    }
  }
}
