.container {
  // padding-top: 20px;
  // padding-top: 70px;
  display: flex;
  justify-content: space-between;

  .content {
    width: 640px;
  }

  .info {
    width: 310px;
    position: relative;
  }
}
