@import "../../styles/variables.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .authorInfo {
    display: flex;
    justify-content: space-between;
    .leftSide {
      display: flex;
      gap: 10px;
      .avatar {
        width: 48px;
        height: 48px;
        img {
          height: 100%;
          width: 100%;
          border-radius: 100%;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        gap: 2px;
        .name {
          font-size: 17px;
          font-weight: 500;
          line-height: normal;
          color: $white;
        }
        .date {
          font-size: 12px;
          font-weight: 400;
          color: $gray_text;
        }
      }
    }
  }

  .postDescr {
    display: flex;
    flex-direction: column;
    .postName {
      font-size: 20px;
      font-weight: 400;
      color: $white;
    }
    .postTags {
      font-size: 12px;
      font-weight: 300;
      color: $gray_text;
    }
  }

  .postImage {
    width: 100%;
    max-height: 500px;
    display: flex;
    justify-content: center;

    img {
      width: 93%;
      object-fit: contain;
    }
  }

  .downMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left {
      display: flex;
      flex-direction: row;
      gap: 2px;
      .socialBtn {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 7px 10px;
        border: none;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
        &:hover {
          background-color: $light_gray;
        }
        .btnText {
          font-family: Inter;
          color: $white;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
        }
      }
    }
    .right {
      margin-right: 15px;
      display: flex;
      gap: 4px;
      align-items: center;
      .viewsCount {
        font-size: 12px;
        color: $white;
        font-weight: 400;
      }
    }
  }
}
